<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<title>
  {{ .Title }}
</title>
<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/reset.css">
<script src="{{ .Site.BaseUrl }}/js/highlight.pack.js"></script>
<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/github.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,300italic,700italic" rel="stylesheet" type="text/css">
<link href="{{ .Site.BaseUrl }}/css/hover.css" rel="stylesheet" media="all">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseUrl }}/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="{{ .Site.BaseUrl }}/favicon.ico">
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/layout.css">
